/* 
  Titel: body-and-nature
  Version: 1.0
  Autor: Ivo Schwizer - Schwizer Design GmbH
*/

:root {
  --ban-green: #4c9384;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--ban-green);
}

/*----------------------------------
  Font
-----------------------------------*/
h1, h2, h3, h4, p, a, li, button {
  font-family: "Gotu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  text-align: left;
  color: white;
  letter-spacing: 0.1px;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
}

h1 {
  padding: 20px 15px;
  margin: 0;
  font-size: 30px;
}

/*----------------------------------
  Base
-----------------------------------*/
.header-container {
  width: calc(100% - 100px);
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  overflow: hidden;
}

.header-logo {
  width: 40%;
  padding: 7%;
}

.header-img {
  background-image: url('img/body-and-nature-massage.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  width: 60%;
  height: 100vh;
}

.angebot {
  margin: 100px 5% 0;
}

/*----------------------------------
    Accordion
-----------------------------------*/

.acctitle {
  cursor: pointer;
  padding: 20px 15px;
  border-top: 1px solid white;
}
.acctitle:last-child {
  border-bottom: 1px solid white;
}

.acctitle h2 {
  display: inline-block;
  color: white;
  margin: 0;
  width: 90%;
}

.pmcontainer {
  float: right;
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  margin-top: 8px;
  transition: transform .25s ease-in-out;
}

.plus, .minus {
  position: absolute;
  left: 10px;
  width: 2px;
  height: 22px;
  background-color: white;
  vertical-align: middle;
}
.minus {
  width: 22px;
  height: 2px;
  top: 10px;
  left: 0px;
}

.pmrotate {
  transform: rotate(45deg);
  transition: transform .25s ease-in-out;
}

.acclist {
  display: none;
}

.acclist p {
  padding: 15px 0;
  width: 75%;
  margin: 0;
}

.acclist .noline {
  border-bottom: none;
}

/*----------------------------------
    Footer
-----------------------------------*/
footer {
  margin: 0 5%;
  padding: 20px 15px;
}

/*----------------------------------
  Responsiv
-----------------------------------*/
@media (max-width: 960px) {
  h2, h3, h4, p, a, li, button {
    font-size: 20px;
  }

  .header-container {
    flex-direction: column;
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
    margin: 20px;
  }
  .header-logo {
    width: 60%;
    padding: 7%;
  }
  .header-img {
    width: 100%;
  }
  .angebot {
    margin-top: 50px;
  }
  .acclist p {
    width: 100%;
  }
  .pmcontainer {
    width: 18px;
    height: 18px;
  }
  .plus, .minus {
    position: absolute;
    left: 8px;
    width: 1px;
    height: 18px;
    background-color: white;
    vertical-align: middle;
  }
  .minus {
    width: 18px;
    height: 1px;
    top: 8px;
    left: 0px;
  }
}
