/* 
  Titel: body-and-nature
  Version: 2.0
  Autor: Ivo Schwizer - Schwizer Design GmbH
*/

:root {
  --ban-green: #4c9384;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 20px;
  background: var(--ban-green);
  max-width: 2000px;
}

/*----------------------------------
  Font
-----------------------------------*/
h1, h2, h3, h4, p, a, li, button {
  font-family: "Gotu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  text-align: left;
  color: white;
  letter-spacing: 0.1px;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

h1 {
  margin: 0;
  font-size: 36px;
}

h2 {
  font-size: 36px;
  padding: 5px 10px;
  line-height: 1.25;
}

h3 {
  font-size: 30px;
  padding: 5px 10px;
}

p {
  padding: 5px 10px;
}

span {
  display: block;
}

/*----------------------------------
  Base
-----------------------------------*/

.header-container {
  width: 100%;
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.header-logo {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 80px;
  width: 250px;
}

.header-intro {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  right: 80px;
}

.content {
  padding: 100px 100px 0;
}

.about {
  display: flex;
  gap: 50px;
}

.about img {
  width: 300px;
}

.about h2 {
  margin: 0;
}


/*----------------------------------
  Video
-----------------------------------*/

.video-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.5;
}

/*----------------------------------
    Slider
-----------------------------------*/

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 1.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
}

.bullets {
  text-align: center;
  margin-top: 10px;
}

.bullet {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border: white solid 1px;
  border-radius: 50%;
  cursor: pointer;
}

.bullet.active {
  background-color: white;
}

/*----------------------------------
    Accordion
-----------------------------------*/

.acctitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid white;
}

.acctitle.last {
  border-bottom: 1px solid white;
}

.acctitle h3 {
  display: inline-block;
  color: white;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.pmcontainer {
  float: right;
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  transition: transform .25s ease-in-out;
}

.plus, .minus {
  position: absolute;
  left: 10px;
  width: 2px;
  height: 22px;
  background-color: white;
  vertical-align: middle;
}
.minus {
  width: 22px;
  height: 2px;
  top: 10px;
  left: 0px;
}

.pmrotate {
  transform: rotate(45deg);
  transition: transform .25s ease-in-out;
}

.acclist {
  display: none;
}

.acclist p {
  padding-bottom: 20px;
  width: 90%;
  margin: 0;
}

.acclist .noline {
  border-bottom: none;
}

/*----------------------------------
    Footer
-----------------------------------*/

footer {
  margin: 0 5%;
  padding: 20px 15px;
}

/*----------------------------------
  Responsiv
-----------------------------------*/

@media (max-width: 960px) {
  h1, h2 {font-size: 28px;}
  h3, h4, p, a, li, button {font-size: 20px;}

  .header-logo {
    top: 50px;
    left: 50px;
    width: 200px;
  }
  .header-intro {
    right: 50px;
  }
  .header-img {
    width: 100%;
  }
  .content {
    padding: 90px 50px 0;
  }
  .acclist p {
    width: 100%;
  }
  .pmcontainer {
    width: 18px;
    height: 18px;
  }
  .plus, .minus {
    position: absolute;
    left: 8px;
    width: 1px;
    height: 18px;
    background-color: white;
    vertical-align: middle;
  }
  .minus {
    width: 18px;
    height: 1px;
    top: 8px;
    left: 0px;
  }
  .about {
    flex-direction: column;
  }
  footer span {
    display: block;
  }
}


@media (max-width: 600px) {
  body {padding: 15px;}
  h1, h2 {font-size: 26px; line-height: 1.25;}
  h3, h4, p, a, li, button {font-size: 19px;}

  .header-container {
    height: calc(100vh - 15px);
  }

  .header-logo {
    top: 50px;
    left: 30px;
  }
  .header-intro {
    right: 30px;
    width: 75%;
  }
  .header-intro h1 {
    text-align: right;
  }
  .content {
    padding: 60px 10px 0;
  }
  .about {
    gap: 30px;
  }
  footer {
    margin: 0;
    padding: 10px 10px;
  }

}
